<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>5820113346-fvja65m9bgbngtfa47m6cu9aba38fb8c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.5820113346-fvja65m9bgbngtfa47m6cu9aba38fb8c</string>
	<key>API_KEY</key>
	<string>AIzaSyAjKv5UxN3ZIWDq0XN3GsaJ6Bd-F5N3UFM</string>
	<key>GCM_SENDER_ID</key>
	<string>5820113346</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hackathonAdmin</string>
	<key>PROJECT_ID</key>
	<string>hackathon-34912</string>
	<key>STORAGE_BUCKET</key>
	<string>hackathon-34912.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:5820113346:ios:1ae215c7a333177c95b65b</string>
</dict>
</plist>